<header class="p-3 bg-transparent text fixed-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="images/favicon.png" width="40" height="32" role="img" aria-label="Donate">
        Blood Donation Center
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-light bg-danger">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-danger">About</a></li>
          <li><a href="#" class="nav-link px-2 text-danger">Contact us</a></li>
          <li><a href="#" class="nav-link px-2 text-danger fw-bold">Donate Now</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search for Hospitals in need" aria-label="Search" kl_vkbd_parsed="true">
        </form>

      <% if current_user %>
        <div class="text-end">
        <%= link_to 'Donate', new_blood_path, class:"nav-link" %>
        <%# <button type="button" class="btn btn-danger">Donate</button> %>
        <%= link_to 'My Donations', my_donations_path, class:"btn btn-danger" %>
        <%# <button type="button" class="btn btn-danger">My Donations</button> %>
        <%= link_to 'Log out', destroy_user_session_path, class:"nav-link", method: :delete %>
        <%# <button type="button" class="btn btn-outline-dark me-2">Sign-out</button> %>
        <% else  %>
        <%= link_to 'Login', new_user_session_path, class:"nav-link" %>
        <%# <button type="button" class="btn btn-danger">Login</button> %>
        <% end %>
        </div>
      </div>
    </div>

  </header>
            <% if current_user %>
            <li class="nav-item">
              <%= link_to 'Donate', new_blood_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'My Donations', my_donations_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log out', destroy_user_session_path, class:"nav-link", method: :delete %>
            </li>
            <% else  %>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class:"nav-link" %>
            </li>
            <% end %>
