<div class='container pt-5 mt-3'>
  <% if current_user.cnpj != nil %>
    <div class='d-flex justify-content-between my-4 class='>
      <h1>My Recieved Donations</h1>
    </div>
  <% else %>
    <div class='d-flex justify-content-between my-4 class='>
      <h1>My Donations</h1>
    </div>
  <% end %>
  <div>
    <table class="table table-hover">
        <tbody>
          <% if current_user.cnpj != nil %>
            <thead class="text-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Blood Type</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
          <% else %>
            <thead class="text-dark">
              <tr>
                <th scope="col">Blood Type</th>
                <th scope="col">Hospital</th>
                <th scope="col">Available</th>
              </tr>
            </thead>
          <% end %>
          <% if current_user.cnpj != nil %>
            <% @donations.each do |donation|  %>
              <tr>
                <td scope="col"><%= donation.blood.user.name %></td>
                <td scope="col"><%= donation.blood.blood_type %></td>
                <td scope="col"><%= donation.blood.address %></td>
              </tr>
            <% end %>
          <% else %>
            <% @bloods.each do |blood|  %>
              <tr>
                <td scope="col"><%= blood.blood_type %></td>
                <td scope="col"><%= blood.donations.empty? ? 'Unclaimed' : blood.donations.first.user.name %></td>
                <td scope="col"><%= blood.available ? 'Yes' : 'No' %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
