<div class='container'>
  <div class='d-flex justify-content-between my-4'>
    <h1>My Donations</h1>
    <%= link_to 'Back', root_path, class:'btn-danger btn' %>
  </div>
  <div>
    <table class="table">
        <tbody>
          <% if current_user.cnpj != nil %>
            <thead class="bg-danger text-white">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Blood Type</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
          <% else %>
            <thead class="bg-danger text-white">
              <tr>
                <th scope="col">Blood Type</th>
                <th scope="col">Address</th>
                <th scope="col">Available</th>
              </tr>
            </thead>
          <% end %>
          <% if current_user.cnpj != nil %>
            <% @donations.each do |donation|  %>
              <tr>
                <td scope="col"><%= donation.blood.user.name %></td>
                <td scope="col"><%= donation.blood.blood_type %></td>
                <td scope="col"><%= donation.blood.address %></td>
              </tr>
            <% end %>
          <% else %>
            <% @bloods.each do |blood|  %>
              <tr>
                <td scope="col"><%= blood.blood_type %></td>
                <td scope="col"><%= blood.address %></td>
                <td scope="col"><%= blood.available ? 'Yes' : 'No' %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
