<!DOCTYPE html>
<html>
  <head>
  <title>Blood Donation Center</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <%= yield %>

  <header>

    <nav class="navbar navbar-expand-sm navbar-light bg-white">
      <div class="container">
        <a href="#" class="navbar-brand">
          <img src="img/logo.png" alt="">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="#nav-principal">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Need Help</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Donate</a>
            </li>
            <li class="nav-item">
              <a href="#" class="btn btn-danger ml-4">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="align-self-center">
            <h1 class="display-4 text-secondary"> Donate blood & Save Lifes </h1>
            <p class="text-secondary">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque,
              aliquet sit amet elementum vel, vehicula eget eros.
            </p>
            <form class="mt-4 mb-4">
              <div class="input-group input-group-lg">
                <input type="text" placeholder="Your e-mail" class="form-control">
                <div class="input-group-append">
                  <button type="button" class="btn btn-danger">Donate</button>
                </div>
              </div>
            </form>

          </div>
        </div>
        <div class="col-md-6 d-none d-sm-block">
          <img src="img/donateblood.png">
        </div>
      </div>
    </div>
  </section>

  <section class="caixa">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="align-self-center">
            <h2 class="text-secondary">About Blood Doners
            </h2>
            <p class="text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.

            </p>
            <a href="#" class="btn btn-danger">Become a member</a>
          </div>
        </div>
        <div class="col-md-6">
          <img src="img/blood.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="caixa">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="img/aboutus.png" class="img-fluid">
        </div>

        <div class="col-md-6 d-flex">
          <div class="align-self-center">
            <h2 class="text-secondary">Donation Process
            </h2>
            <p class="text-secondary">
              The donation process from the time you arrive center until the time you leave
            </p>
            <a href="#" class="btn btn-danger">Donate</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="caixa">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="img/beAHero.png" class="img-fluid">
          <h4 class="text-secondary text-center">It is easy</h4>
          <p class="text-secondary">
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
            more recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        <div class="col-md-4">
          <img src="img/bloodDayHonor.png" class="img-fluid">
          <h4 class="text-secondary text-center">Blood Donor Day</h4>
          <p class="text-secondary">
            Industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.

          </p>
        </div>
        <div class="col-md-4">
          <img src="img/savealife.png" class="img-fluid">
          <h4 class="text-secondary text-center">Save a Live</h4>
          <p class="text-secondary">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some formhumour, or randomised words which don't look even slightly believable. If you are going to use a
            passage. industry's standard dummy has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged.

          </p>
        </div>
      </div>
    </div>
  </section>

  <footer class="mt-4 mb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>
            <a href="" class="text-secondary">Home</a>
            <a href="" class="text-secondary">About Us</a>
            <a href="" class="text-secondary">Become a Member</a>
            <a href="" class="text-secondary">Donate Today</a>
          </p>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
          <a href="" class="btn btn-outline-primary ml-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="link-para-a-rede-social" class="btn insta btn-outline-danger ml-2">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="btn btn-outline-primary ml-2">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="" class="btn ml-2 btn-outline-danger">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>


  </body>
</html>
